html {
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;


}

.landingpage-background-container {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-image: url('wallhaven-l8z7rq.jpg');
    background-size: cover;
    background-position: center 45px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero h1 {
    font-size: 2rem;
    text-transform: uppercase;

}

.hero {
    position: absolute;
    left: 3%;
    top: -5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    text-align: start;
    height: 480px;
    width: 500px;
    margin-left: 5%;
    border-radius: 1rem;

}

.hero-catch {
    position: absolute;
    font-size: 5rem;
    left: -5%;
    top: 140%;
    width: 200%;
    height: 10px;


}


.landingpage-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #000000;
    margin-top: -15px;

}

.landingpage-background-content {
    height: 110vh;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    font-size: 1.3rem;
    color: white;
    margin-left: 10%;
    margin-top: 4%;
}

.products-popular-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 160vh;
    width: 40%;
    color: white;
    position: absolute;
    right: 13%;
}

.popular-product {
    display: flex;
    flex-direction: column;
    margin-bottom: -20%;
    justify-content: center;
    width: 80%;
    height: 40vh;
    cursor: pointer;

}

.popular-product a {
    color: white;
    text-decoration: none;
}

h4 {
    color: hotpink;
    text-transform: uppercase;
    font-size: 2rem;

}

h3 {
    color: hotpink;
    text-transform: uppercase;
    margin: 10px 0;
}


.popular-products:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

/* produkterna från sql */


.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;



}

.pagination {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
}

.pagination a {
    margin: 0 5px;
    color: #000000;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #000000;


}

.products-background {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 180vh;
    width: 100%;


}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    justify-content: center;
    width: 100%;
    height: 140vh;

}

.product {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    cursor: pointer;
    padding: 20px;
    width: 200px;
    text-align: center;
    background-color: #000000;
    color: rgb(239, 239, 244);

}

.product img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.product h2 {
    color: hotpink;
    margin: 10px 0;
    text-transform: uppercase;
}

.product-container p {
    color: white;
    text-decoration: none;
}

.product a {
    color: white;
    text-decoration: none;
}

.category-links {
    margin-bottom: 20px;
    text-align: center;
}

.category-links a {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 10px;
}

.category-links a:hover {
    background-color: #ddd;
}

/*navigering*/
.navbar {
    background-color: #000000;
    text-transform: uppercase;
    padding: 1%;
    height: 80px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    font-size: 2rem;
    position: fixed;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}




.navbar li a {
    display: block;
    color: #FCF6EA;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #FCF6EA;
    color: black;
}


/* navbar sök */

.navbar form {
    display: flex;
    align-items: center;
    position: absolute;
    right: 5%;
    top: 30%;
}

.navbar input[type="text"] {
    padding: 5px;
    width: 90%;
    margin-right: 5px;
}

.navbar button {
    padding: 5px;
    background: hotpink;
    color: #000000;
    border: none;
    cursor: pointer;
}

.navbar button:hover {
    background: #b2c0cf;
}


footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    right: 0;
    top: 215%;
    position: fixed;
    width: 100%;
    height: 10rem;
    position: absolute;

}


.product-detail-backgorund {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: white;
}

.product-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    width: 70%;
    color: white;
    position: absolute;
    top: 15%;
    right: 15%;
    background-color: rgb(12, 12, 12);
    text-align: center;
}

.product-detail-container h2 {
    color: hotpink;
    text-transform: uppercase;
    margin: 10px 0;
}

.icon-pokemon {
    font-size: 8rem;
    color: white;
}